@import 'mixins.scss';
/******common******/
$green : #00780E;
$green1 : #2EA93C;
$textgray : #747474;
$textblack : #333333;
@media (max-width: 1200px){
	.page_content .main_content .sidebar_left .box_sidebar .box_sidebar_body .user_box {
		.user_box_avatar{
			width: 90px;
		}
		.user_box_content{
			width: calc(100% - 90px);
			.ubc_dh{
				.btn-md{
					min-width: 100px;
					margin-top: 3px;
				}
			}
		}
	}
	.container{
		width: calc(100% - 30px);
	}
}
@media (max-width: 1024px){
	.friend-content .friend-tab .nav-tabs li {
		width: calc(100% / 3);
		display: block;
		float: left;
		margin-bottom: 4px;
		&:nth-child(3){
			padding-right: 0px;
		}
		&:last-child{
			padding-right: 3px;
		}
	}
}
@media (max-width: 992px){
	._navbar .navbar-collapse .navbar-form {
		margin-top: 5px;
		margin-bottom: 5px;
		.header_search {
	    	min-width: 300px;
	    }
	}
	.container {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	}
	.row{
		margin-left: 0;
		margin-right: 0;
	}
	._navbar .navbar-collapse .navbar-nav>li>a{
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 0px;
		font-size: 14px;
	}
	._navbar .navbar-collapse .navbar-right .cart {
		a{
			padding-top: 10px;
		}
		span.number{
			top: 5px;
		}
	}
	.navbar-brand img{
		max-height: 50px;
	}
	._navbar .navbar-header{
		min-height: 50px;
	}
	._banner{
		margin-top: 50px;
	}
}
@media (min-width: 768px){
	._content .main_content .content_right .content_inner .list_product_main .item_product h4{
		height: 20px;
		overflow: hidden;
	}
	._navbar .navbar-collapse .navbar-right{
		display: none;
	}
}
@media (max-width: 768px){
	
	.help-content{
		padding: 15px 5px;
	}
	.page_content .main_content .row .col-xs-12.col-sm-5.col-md-4.col-lg-4{
		display: none;
	}
	.page_content .main_content .row .col-xs-12.col-sm-7.col-md-8.col-lg-8{
		width: 100%;
	}
	.footer .totop{
		left: calc(100% - 65px);
	}
	._navbar .navbar-header{
		float: left;
	}
	.menu-mb{
		float: right;
		.menu-top{
			height: 50px;
			padding: 10px 0;
			ul{
				li{
					float: left;
					margin-left: 10px;
					&:first-child{
						margin-left: 0;
					}
					a{
						color: #fff;
					}
					img{
						width: 30px;
						height: 30px;
						@include border-radius(100%);
					}
					&.cart{
						margin-top: 4px;
						position: relative;
						a{
						    padding-top: 22px;
						}
						i{
							font-size: 25px;
							margin-right: 10px;
						}
						span.number{
							position: absolute;
							top: -3px;
							left: 15px;
							width: 20px;
							height: 20px;
							@include border-radius(100%);
							background-color: #F86161;
							color: #fff;
							font-size: 11px;
							display: flex;
						    justify-content: center;
		    				align-items: center;
						}
					}
				}
			}
		}
	}
	._banner .owl-carousel .owl-nav .owl-next, ._banner .owl-carousel .owl-nav .owl-prev{
		width: 30px;
		height: 30px;
		background-size: 100%;
		top: calc(50% - 15px);
	}
	._banner .owl-carousel .owl-nav .owl-next{
		right: 10px;
	}
	._banner .owl-carousel .owl-nav .owl-prev{
		left: 10px;
	}
	.friend-content .friend-tab .nav-tabs li {
		width: 50%;
		display: block;
		float: left;
		margin-bottom: 4px;
		a{
			margin-bottom: 0px;
		}
		&:nth-child(2){
			padding-right: 0px;
		}
		&:nth-child(3){
			padding-right: 3px;
		}
		&:nth-child(4){
			padding-right: 0px;
		}
		&:last-child{
			width: 100%;
			padding-right: 0px;
		}
	}
}
@media (max-width: 767px){
	.page_content{
		margin-top: 55px;
	}
	.menu-top{
		.btn-menu-mb{
			margin-top: 8px;
			margin-left: 4px;
			a{
				span{
					display: block;
				    height: 2px;
				    width: 20px;
				    margin-bottom: 4px;
				    background-color: #fff;
				}
			}
		}
	}
}

@media (max-width: 640px){
	.friend-content .friend-explain {
		.friend-explain-content{
			.friend-qr-code{
				width: 100%;
				text-align: center;
			}
			.friend-explain-inner{
				width: 100%;
			}
		}
	}
}
@media (max-width: 414px){
	.footer .totop{
		bottom: 40px;
	}
}